node_modules
target
artifacts
*.tgz
*.log
typescript
tests
Cargo.toml
build.rs
Cargo.lock
tsconfig.json
vitest.config.ts
tsup.config.ts
.eslintrc.json
.prettierignore
.prettierrc
biome.json
oxlintrc.json
